<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Google Meet Scheduler</title>
</head>

<body>
	<nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#">
			<img src="https://i.ytimg.com/vi/yNxPVj0hejg/hqdefault.jpg" width="60" height="40"
				class="d-inline-block align-top" alt="">
			Google Meet Scheduler
		</a>
	</nav>
	<div class="container" style="text-align: center; max-width: 500px;">
		<h1 class="display-4" style="font-size: 40px;">Schedule Google Meet</h1>
		<div>
			<% if(!password || 0===password.length || !email || 0===email.length) { %>
				<p style=" color : red"> Password or Email not set as environment variables or in <mark>.env</mark>
					file. Refer <a href=https://github.com/AmanRaj1608/Google-Meet-Scheduler#readme>here</a> for
					instructions.</p>
				<% } %>
		</div>
		<br>
		<form style="width: 100%;" method="POST" action="/postlink" enctype="application/x-www-form-urlencoded">
			<div class="form-group">
				<label for="url">Meet Url</label>
				<input name="url" type="text" class="form-control" id="url" placeholder="https://meet.google.com/kgh-hwtg-vus"
					required>
			</div>
			<div class="form-group">
				<label for="startDate">Class Start Time</label>
				<input name="startDate" type="datetime-local" class="form-control" id="startDate" required>
			</div>
			<div class="form-group">
				<label for="endDate">Class End Time</label>
				<input name="endDate" type="datetime-local" class="form-control" id="endDate" required>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Schedule" id="submit" style="width: 100px">
			</div>
		</form>
		<br>
	</div>

	<div class="container" style="text-align: center; max-width: 850px;">
		<h1 class="display-4" style="font-size: 40px;">Scheduled</h1>
		<div class="card-columns">
			<% for(i in url) {%>
				<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
					<div class="card-header">Id: <%= i %>
					</div>
					<div class="card-body">
						<p class="card-title">meetUrl: <br>
							<%= url[i].url %>
						</p>
						<p class="card-title">startTime: <br>
							<%= new Date(url[i].startTime).toLocaleString().replace(',','') %>
						</p>
						<p class="card-title">endTime: <br>
							<%= new Date(url[i].endTime).toLocaleString().replace(',','') %>
						</p>
					</div>
				</div>
				<% } %>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>